@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F4F4F4;
    font-family: 'Monteserrat', sans-serif;
}

@media screen and (min-width: 425px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 620px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* @media screen and (min-width: 768px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 1440px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */